body {
    background-color: White;
    font-family: sans-serif;
}

blockquote {
    border-left: 2px dotted #888;
    padding-left: 5px;
    background: #d0f0ff;
}

.hamltoe-panel {
    width: 100%;
    overflow: hidden;
}

.hamltoe-button-bar {
    width: 100%;
    background-color: Silver;
}

.hamltoe-editor {
    float: left;
    width: 48%;
}

.hamltoe-input {
    height: 500px;
    width: 100%;
    background-color: Gainsboro;
    border: 1px solid DarkGray;
}

.hamltoe-preview {
    float: right;
    width: 50%;
    background-color: #c0e0ff;
}

.hamltoe-button-row {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 0px;
    height: 20px;
}

.hamltoe-spacer {
    width: 1px;
    height: 20px;
    margin-left: 14px;

    position: absolute;
    background-color: Silver;
    display: inline-block;
    list-style: none;
}

.hamltoe-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.hamltoe-button > span {
    background-image: url(hamltoe-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.hamltoe-spacer1 {
    left: 50px;
}
.hamltoe-spacer2 {
    left: 175px;
}
.hamltoe-spacer3 {
    left: 300px;
}

.hamltoe-prompt-background {
    background-color: Black;
}

.hamltoe-prompt-dialog {
    border: 1px solid #999999;
    background-color: #F5F5F5;
}

.hamltoe-prompt-dialog > div {
    font-size: 0.8em;
    font-family: arial, helvetica, sans-serif;
}

.hamltoe-prompt-dialog > form > input[type="text"] {
    border: 1px solid #999999;
    color: black;
}

.hamltoe-prompt-dialog > form > input[type="button"]{
    border: 1px solid #888888;
    font-family: trebuchet MS, helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}

/*
  styles for HAMLToe.io
*/
.hamltoe-dropzone {
    color: #bbb;
    font: 20pt bold "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.hamltoe-editing {
    font: 12pt normal;
}
